.form__submit-button {
    width: 220px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    margin: 20px 0 0 0;
}

.form__submit-button:hover {
    background-color: black;
    color: rgb(0, 255, 0);
    cursor: pointer;
}