.content__heading {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
}


@media (max-width: 400px) {
    .content__heading {
        font-size: 40px;
        line-height: 40px;
    }
}