.content__heading {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    margin: 0 0 20px 0;
}


@media (max-width: 400px) {
    .content__heading {
        font-size: 30px;
        line-height: 30px;
    }
}